/* font-family: 'Raleway', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  background: #ffffff;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.container {
  max-width: 1156px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-zip {
  display: flex;
  margin-right: 83px;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  width: 56px;
}

.job-time {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.phone {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  color: #FFFFFF;
}

.quiz {
  height: 100vh;
  width: 100%;
  background: url(img/background.png) top right/auto 100% no-repeat,
    url(img/bg2.png) top left/auto 100% no-repeat;
  padding-bottom: 50px;
  padding-top: 95px;
}

.quiz .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-content,
form,
fieldset,
.first-time,
.last-time {
  height: 100%;
}

fieldset,
.quiz-content,
.first-time,
.last-time {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

fieldset {
  border: none;
}

.form-bg {
  position: absolute;
  left: -728px;
}

fieldset:nth-child(2) .form-bg {
  left: -937px;
}


fieldset:nth-child(1) {
  max-width: 970px;
  align-items: center;
  justify-content: start;
  margin-top: 54px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.quiz-content {
  position: relative;
  max-width: 600px;
  align-items: flex-start;
}

.form-title {
  font-weight: 900;
  font-size: 35px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-subtitle {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  text-align: left;
}

.form-btn {
  cursor: pointer;
  background: linear-gradient(180deg, #FBDD46 30.86%, #A68613 124.69%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.23);
  border-radius: 150px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  padding: 26px 90px;
  margin-top: 30px;
  border: none;
}

.form-btn:hover {
  background: linear-gradient(180deg, #FFE872 30.86%, #DA9836 124.69%);
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.26);
}

.form-btn:active {
  background: linear-gradient(180deg, #A68613 -63.58%, #FBDD46 87.65%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2), inset -3px -4px 7px rgba(0, 0, 0, 0.21), inset 3px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-wrap {
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(19, 23, 55, 0.14);
  border-radius: 15px;
  padding: 30px 25px;
  margin-bottom: 30px;
}

.question {
  align-self: start;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.05em;
  max-width: 518px;
  margin-bottom: 31px;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-label:last-child {
  margin-bottom: 0;
}

.form-label::before {
  content: '';
  position: absolute;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 33px;
  height: 33px;
}

.active-radio::before {
  content: '';
  position: absolute;
  background: url(img/input.svg);
  border: none;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
}

.form-answer {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  margin-left: 63px;
}

.form-radio {
  display: none;
}

.form-button-indent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.line-zip {
  position: relative;
}

.percent {
  position: absolute;
  left: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  /* margin-left: 25px; */
  top: -30px;
}

.line {
  max-width: 554px;
  width: 554px;
  height: 14px;
  background: #B8DDFF;
  border-radius: 7px;
}

.quiz-form-line {
  width: 20%;
  height: 14px;
  background: #FBDD46;
  border-radius: 7px;
}
.form-btn-zip {
  display: flex;
  align-items: center;
}
.button-prev {
  cursor: pointer;
  width: 81px;
  height: 81px;
  opacity: 0.7;
  background: url(img/arrow.svg) center no-repeat;
  border: 3px solid #B8DDFF;
  border-radius: 50%;
}

.button-prev:hover,
.button-prev:active {
  background: url(img/arrow2.svg) center no-repeat, #B8DDFF;
}

.button-next {
  margin-top: 0;
}

fieldset:nth-child(2) .quiz-content {
  align-items: flex-end;
}

fieldset:nth-child(2) .form-title {
  text-align: right;
}

.form-socials {
  max-width: 354px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-socials-label {
  cursor: pointer;
  width: 92px;
  height: 92px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-socials-label:hover,
.form-socials-label:active {
  background: #FFFFFF;
}

.form-socials-label:hover svg path,
.form-socials-label:active svg path {
  fill: #458CCD;
}

.tel {
  width: 470px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 150px;
  border: none;
  outline: none;
  padding: 20px 40px;
}

.send-btn {
  padding: 26px 58px;
}

.quiz-policy {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 28px;
  padding-left: 31px;
}

.quiz-policy-text {
  max-width: 354px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}

.quiz-policy::before {
  content: '';
  position: absolute;
  border: 2px solid #FBDD46;
  box-sizing: border-box;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  left: 0;
}

.active-checkbox::before {
  content: '';
  position: absolute;
  background: #FBDD46;
}

.checkbox {
  display: none;
}
.four-time .quiz-content {
  align-items: flex-end;
  margin-left: auto;
}
fieldset:nth-child(2) .percent {
  position: initial;
  margin-bottom: 5px;
}

fieldset:nth-child(2) .line-zip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.form-text span {
  font-weight: 700;
  font-size: 25px;
  color: #FBDD46;
}

.form-list .form-text span {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
}

.form-list .form-text {
  margin-bottom: 5px;
}

.consult-tel {
  max-width: 370px;
  margin-right: 190px;
}

.consult-input {
  padding: 26px 38px;
}

.no-btn {
  position: relative;
  padding: 26px 17px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #B8DDFF;
}

.no-btn::after {
  position: absolute;
  bottom: 26px;
  right: 17.5px;
  content: "";
  background: #B8DDFF;
  width: 135px;
  height: 1px;
}

.quiz-content-text {
  max-width: 533px;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 10px;
}

.portfolio {
  margin-top: 20px;
  padding: 26px 53px;
}

.copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: right;
}
@media (orientation: landscape) and (max-height: 900px) {
  .quiz {
    background: url(img/background.png) top -100px right /auto 150% no-repeat,
    url(img/bg2.png) top left/auto 150% no-repeat;
  }
  .form-bg {
    left: -600px;
    width: 600px;
  }
  fieldset:nth-child(2) .form-bg {
    width: 1000px;
    left: -800px;
  }
}
@media (max-width: 1680px) {
  fieldset:nth-child(2) .form-bg {
    width: 800px;
    left: -600px;
  }

  .quiz {
    background: url(img/background.png) top -100px right /auto cover no-repeat,
    url(img/bg2.png) top left/auto cover no-repeat;
  }
  .form-bg {
    width: 550px;
    left: -550px;
  }
}

@media (max-width: 1280px) {
  .quiz {
    background: url(img/background.png) top right -100px /auto 100% no-repeat,
    url(img/bg2.png) top left/auto 100% no-repeat;
  }
  .form-bg {
    width: 500px;
    left: -500px;
  }

  fieldset:nth-child(2) .form-bg {
    width: 1000px;
    left: -800px;
  }
}

@media (max-width: 1024px) {
  .form-bg {
    width: 400px;
    left: -400px;
    position: initial;
  }
  .phone, .job-time {
    font-size: 18px;
    line-height: 22px;
  }
  fieldset:nth-child(2) .form-bg {
    width: 400px;
    left: -400px;
  }
  .form-button {
    flex-wrap: wrap;
    justify-content: center;
  }
  .line-zip {
    margin-bottom: 20px;
  }
  .button-prev {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .job-time {
    display: none;
  }
}
@media (max-width: 640px) {
  html, body {
    overflow-y: hidden;
  }
  body {
    position: relative;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .quiz {
    background: url(img/background.png) top right -300px /auto 100% no-repeat,
    url(img/bg2.png) top left/auto 100% no-repeat;
  }
  .logo-zip {
    margin-right: 0;
  }
  .form-bg {
    
    width: 342px;
    height: 231.86px;
  }
  
  fieldset:nth-child(2) .form-bg {
    position: initial;
    width: 302px;
    height: 201px;
  }
  

  .phone {
    font-size: 18px;
    line-height: 22px;
  }

  fieldset:nth-child(1) {
    margin-top: 0;
  }

  .quiz-content {
    max-width: 100%;
  }

  .form-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .form-title {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
  }

  .form-btn {
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 320px;
    width: 100%;
    height: 60px;
  }

  .question {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }

  .form-wrap {
    max-width: 600px;
    padding: 36px 20px;
  }
  
  fieldset:nth-child(1) {
    align-items: flex-start;
  }

  .form-label {
    margin-bottom: 20px;
  }

  .form-label:last-child {
    margin-bottom: 0;
  }

  .form-answer {
    font-size: 15px;
    line-height: 140%;
  }

  .form-button {
    flex-wrap: wrap;
    justify-content: center;
  }

  .line-zip {
    margin-bottom: 20px;
  }

  .button-prev {
    width: 61px;
    height: 61px;
    margin-right: 29px;
  }
  .form-wrap {
    margin-bottom: 44px;
  }
  .line-zip {
    margin-bottom: 0;
  }
  .line {
    width: 320px;
    margin-right: 0;
  }
  .form-btn-zip {
    margin-top: 20px;
  }
  .button-next {
    width: 220px;
  }

  .form-answer {
    margin-left: 50px;
  }

  .active-radio::before,
  .form-label::before {
    width: 30px;
    height: 30px;
  }

  fieldset:nth-child(2) .quiz-content {
    align-items: flex-start;
  }
  fieldset:nth-child(2) .form-title {
    text-align: left;
  }
  .form-socials {
    width: 190px;
  }

  .form-socials-label {
    width: 45px;
    height: 45px;
  }

  .form-socials-label svg {
    width: 26px;
    height: 28px;
  }

  .tel {
    width: 320px;
    height: 45px;
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn-zip {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .send-btn {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 32px;
    width: 320px;
  }

  .quiz-policy {
    padding-left: 19px;
    margin-bottom: 9px;
  }

  .quiz-policy-text {
    font-size: 10px;
    line-height: 12px;
  }
  .form-wrap,
  .question,
  .form-button {
    max-width: 320px;
  }
  .copyright {
    text-align: center;
  }
  .copyright {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (max-width: 640px) and (max-height: 750px) {
  .quiz {
    background: url(img/background.png) top right -150px /auto 100% no-repeat,
    url(img/bg2.png) top left/auto 100% no-repeat;
  }
  fieldset:nth-child(2) .form-bg {
    display: none;
  }
}
@media (max-height: 600px) and (orientation: portrait) {
  .form-bg {
    
    display: none;
  }
}
@media (max-width: 360px) {
  .quiz {
    background: url(img/background.png) center right -250px/auto 100% no-repeat;
  }
  
  /* .form-bg {
    
    width: 342px;
    height: 231.86px;
  } */
}